<!DOCTYPE html>
<html>
  <head>
    <title>Shop 'n Dash</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/homestylesheet.css" />
  </head>
  <body>
    <!-- navbar code -->
    {% include 'navbar.html' %}
    <div class="container text-center">
      <h1 class="text-center mt-2 mb-4">Shop 'n Dash</h1>
    <!-- login/sign up buttons -->
    <div class="btn-group mx-auto p-2 btn-group-sm" style="width: 200px;" role="group" aria-label="Basic outlined example ">
       <button class="btn btn-outline-primary" type="button">Login</button>
       <button class="btn btn-outline-primary" type="button">Sign up</button>
      </div>
    <!-- PChecker/Cart buttons -->
    <div class="d-grid gap-2 col-6 mx-auto p-2">
        <button class="btn btn-primary" type="button">Start a Cart</button>
        <button class="btn btn-primary" type="button">Price Checker</button>        
     </div>
    </div>
  </body>
</html>