<!DOCTYPE html>
<html>
  <head>
    <title>Shop 'n Dash</title>
    {% include 'headinfo.html' %}
  <body>
    <!-- navbar code -->
    {% include 'navbar.html' %}
    <div class="container text-center">
      <h1 class="text-center mt-2 mb-4">Shop 'n Dash</h1>
    <!-- login/sign up buttons -->
    <div class="btn-group mx-auto p-2 btn-group-sm" style="width: 200px;" role="group" aria-label="Basic outlined example ">
       <a href="/loginpage"><button class="btn btn-outline-primary" type="button">Login</button></a>
       <a href="/signuppage"><button class="btn btn-outline-primary" type="button">Sign up</button></a>
      </div>
    <!-- PChecker/Cart buttons -->
    <div class="d-grid gap-2 col-6 mx-auto p-2">
      <a href="/yourcart"><button class="btn btn-primary" type="button">Start a Cart</button></a>
      <a href="/pricechecker"><button class="btn btn-primary" type="button">Price Checker</button></a>  
     </div>
    </div>
  </body>
</html>